// $primary-color: #214753;
// $secondary-color: #1a5161;
// $third-color: #be465c;
// $fourth-color: #27a5cd;

// $danger-color: #be465c;

$light-color: #ffffff;
$gray-color: #898989;
$background-color: #f6f6f6;

$primary-color: #00d1b2;
$secondary-color: #0d9677;
$third-color: #be465c;
$fourth-color: #27a5cd;

$danger-color: #be465c;

$border-color: #efefef;

$text-color: #2573f0;
