@tailwind base;
/* @tailwind components; */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

body,
html {
  font-family: "Open Sans", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

*{
  word-wrap: all;
}

body * {
  max-width: 100%;
}

#app {
  @apply min-h-screen flex flex-col justify-start;
}

.app-content,
.footer-sidebar {
  @apply mt-10 w-full sm:w-11/12  lg:w-10/12 xl:w-8/12 justify-start mx-auto flex flex-grow flex-col;
}

.custom-input{
  @apply px-4 py-3 border-2 border-gray-light rounded-md;
}

.md-flag{
  @apply w-8 h-5;
}

.flag{
  @apply flex space-x-2 items-center;
}

.table-kval td:nth-of-type(2){
  word-break: break-all;
}
.table-cval {
  word-break: break-all;
}

/**
 * Scrollbar
 **/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary bg-opacity-60;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}


/**
* Auth Pages
*/
.auth-card
{

  .form-input {
    @apply w-full px-4 py-3 border rounded-md border-gray-light placeholder-gray-medium text-lg;
  }

  .form-group {
    @apply w-full my-3 flex flex-wrap items-center;
  }

  .btn-submit {
    @apply w-full px-2 py-3 bg-primary rounded-md text-light font-bold text-lg;
  }

  
  @apply bg-light md:rounded-2xl  shadow-sm;
  @apply flex flex-col items-center justify-center;
  @apply m-auto py-10 px-20;
  @apply w-full max-w-xl;
}