@tailwind base;
/* @tailwind components; */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

body,
html {
  font-family: "Open Sans", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

*{
  word-wrap: all;
}

.app-content {
  @apply mt-20 md:w-10/12 lg:w-9/12 xl:w-8/12 justify-start mx-auto flex flex-grow flex-col;
}