@tailwind base;
/* @tailwind components; */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

body,
html {
  font-family: "Open Sans", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

*{
  word-wrap: all;
}

.app-content {
  @apply mt-10 md:w-10/12 lg:w-9/12 xl:w-8/12 justify-start mx-auto flex flex-grow flex-col;
}

.custom-input{
  @apply px-4 py-3 border-2 border-gray-light rounded-md;
}

.md-flag{
  @apply w-8 h-5;
}

.flag{
  @apply flex space-x-2 items-center;
}

.table-kval td:nth-of-type(2){
  word-break: break-all;
}
.table-cval {
  word-break: break-all;
}

/**
 * Scrollbar
 **/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary bg-opacity-60;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}